
/* --------------------------------------------bootstrap version---------------------------------------- */
/* fonts from goole fonts import */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

/*overall document design*/
* {
    box-sizing: border-box;
    margin: 0px;
    direction: rtl;
    font-family: 'Heebo', sans-serif;
  }

html, body{
    height: 100vh;
    margin: 0px;
    padding: 0px;

  }
  
body { 
    color: #fff;
    font-size: 1.25rem;
    line-height: 150%;
    text-shadow: 0 2px 2px #626262;
  }

.margin_off {
    margin: 0px;
}

.padding_off {
    padding: 0px;
}

.small-text {
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
}

/*entry screen design*/

/*left entry screen side*/
#left-half {
    box-shadow: -10px 7px 37px -7px #000000;
    height: 100vh;
    width: 100%;
}

.cover {
    background-image: url("/assets/code-img.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: #000000;
    position: relative;
    height: 100%;
    width: 100%;
}

#logo {
    background-image: url("/assets/MT_logo.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: absolute;
    top: 65%;
    right: 60%;
    width: 60vmin;
    height: 30vmin;
    z-index: 1001;
}

/*right entry screen side*/
#right-half {
    box-shadow:1px 0px 14px 0px rgba(50, 50, 50, 0.59);
    height: 100vh;
    width: 100%;
}

#box_header {
    direction: rtl;
    position: relative;
    left: 5%;
    top: 0%;
    height: 30%;
    width: 85%;
    text-align: center;
    line-height: 1.5;
}

#header{
    color: black;
    font-size: 1.5em;
}



#box {
    direction: rtl;
    position: relative;
    left: 5%;
    top: 0%;
    height: 70%;
    width: 75%;
    /* border: 5px solid black; */
}

.lesson_row{
    text-align: center;
    height: 20vh;
    margin: 5% 0 5% 0;
    
}

.main_button {
    border-radius: 10px;
    font-size: 1.5em;
    background-color: white;
    color: black;
}

.hover {
    box-shadow: -10px 7px 37px -7px #000000;
}

.full {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.content_design {
    background-color: rgb(46, 46, 46);
    margin-bottom: 0;
}

/*content design*/
.full_content{
    background-color: #000000;
    height: 100%;
    width: 100%;
    border-radius: 10%;

}
.home_button{
    background-color: rgb(73, 73, 73); 
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: o; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin-top: 10%;
    border-radius: 7px 0px 0px 7px;
    width: 50%;

}
  /* Darker background on mouse-over */
.home_button:hover {
    background-color: rgb(123, 123, 124);
} 
.choose_subject{
    color: rgb(255, 255, 255);
    font-size: 130%;
}

.lesson_choice{
    color: rgb(49, 49, 49);
}


/*tabs css*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: right;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 33.3%;
    border-top: 0.2px solid rgb(255, 255, 255);
    border-right: 0.2px solid rgb(255, 255, 255);
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 100%;
  }

  .tabs_content{
      height: 100%;
      width:100%;
      background-color: rgb(27, 27, 27);
      margin: 0;
      border: solid #000000 0; 
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.3) inset; 
      border-radius: 5px;
      padding: 5%;
      
  }


  .content_box{
    overflow-y: scroll;
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0); 
    box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0);
    background-color: #626262;
    margin: 10px;
    padding: 20px;
    height: 95%;
    width: 100%;
  }

  .content_box img{
    width: 95%;
    height: auto;
  }

/*github lessond content on panel 2 design*/
/* #github1_content{
    overflow-y: scroll;
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0); 
    box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0);
    background-color: #626262;
    margin: 20px;
    padding: 20px;
    height: 95%;
    width: 100%;
}
#github1_content img {
    width: 95%;
    height: auto;
}

#github2_content{
    overflow-y: scroll;
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0); 
    box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0);
    background-color: #626262;
    margin: 20px;
    padding: 20px;
    height: 95%;
    width: 100%;
}
#github2_content img {
    width: 95%;
    height: auto;
}

#github3_content{
    overflow-y: scroll;
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0); 
    box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0);
    background-color: #626262;
    margin: 20px;
    padding: 20px;
    height: 95%;
    width: 100%;
}

#github3_content img {
    width: 95%;
    height: auto;
}

#github4_content{
    overflow-y: scroll;
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0); 
    box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0);
    background-color: #626262;
    margin: 20px;
    padding: 20px;
    height: 95%;
    width: 100%;
}

#github4_content img {
    width: 95%;
    height: auto;
}


/*bootstrap content design*/
/* 
#bootstrap1_content{
    overflow-y: scroll;
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0); 
    box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0);
    background-color: #626262;
    margin: 5px;
    padding: 20px;
    height: 95%;
    width: 100%;
}

#bootstrap1_content img {
    width: 95%;
    height: auto;
}

#bootstrap2_content{
    overflow-y: scroll;
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0); 
    box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0);
    background-color: #626262;
    margin: 5px;
    padding: 20px;
    height: 95%;
    width: 100%;
}

#bootstrap2_content img {
    width: 95%;
    height: auto;
}

#bootstrap3_content{
    overflow-y: scroll;
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0); 
    box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0);
    background-color: #626262;
    margin: 5px;
    padding: 20px;
    height: 95%;
    width: 100%;
}

#bootstrap3_content img {
    width: 95%;
    height: auto;
}  */