
/* --------------------------------------------bootstrap version---------------------------------------- */
/* fonts from goole fonts import */
@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

/*overall document design*/
* {
    box-sizing: border-box;
    margin: 0px;
    direction: rtl;
    font-family: 'Heebo', sans-serif;
  }

html, body{
    height: 100vh;
    margin: 0px;
    padding: 0px;

  }
  
body { 
    color: #fff;
    font-size: 1.25rem;
    line-height: 150%;
    text-shadow: 0 2px 2px #626262;
  }

.margin_off {
    margin: 0px;
}

.padding_off {
    padding: 0px;
}

.small-text {
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
}

/*entry screen design*/

/*left entry screen side*/
#left-half {
    box-shadow: -10px 7px 37px -7px #000000;
    height: 100vh;
    width: 100%;
}

.cover {
    background-image: url("assets/code-img.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: #000000;
    position: relative;
    height: 100%;
    width: 100%;
}

#logo {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 41.8vmin;
    height: 21vmin;
    z-index: 10;
}

/*right entry screen side*/
#right-half {
    box-shadow:1px 0px 14px 0px rgba(50, 50, 50, 0.59);
    height: 100vh;
    width: 100%;
}

#box_header {
    direction: rtl;
    position: relative;
    left: 5%;
    top: 0%;
    height: 30%;
    width: 85%;
    text-align: center;
    line-height: 1.5;
}

.header{
    padding-top: 20px;
    color: black;
    font-size: 1.5em;
    font-weight: 700;
    font-family:  Helvetica, sans-serif ;
}

/* #header-logo-image{
    width: 20vmin;
    height: 10vmin;
} */



#box {
    direction: rtl;
    position: relative;
    left: 5%;
    top: 0%;
    height: 70%;
    width: 75%;
    /* border: 5px solid black; */
}

.lesson_row{
    text-align: center;
    height: 20vh;
    margin: 5% 0 5% 0;
    
}

.main_button {
    border-radius: 10px;
    font-size: 1.5em;
    background-color: white;
    color: black;
}

.hover {
    box-shadow: -10px 7px 37px -7px #000000;
}

.full {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.content_design {
    background-color: rgb(46, 46, 46);
    margin-bottom: 0;
}

/*content design*/
.full_content{
    background-color: #000000;
    height: 100%;
    width: 100%;
    border-radius: 10%;

}
.home_button{
    background-color: rgb(73, 73, 73); 
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 0; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin-top: 10%;
    border-radius: 7px 0px 0px 7px;
    width: 50%;

}
  /* Darker background on mouse-over */
.home_button:hover {
    background-color: rgb(123, 123, 124);
} 
.choose_subject{
    color: rgb(255, 255, 255);
    font-size: 130%;
}

.lesson_choice{
    color: rgb(49, 49, 49);
    height: 8vh;
    font-size: 2.5vh;
    font-family: 'Alef', sans-serif;
    font-weight: 600;
}

/*lessons content box*/
  .content_box{
    overflow-y: scroll;
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0); 
    box-shadow: inset 4px 4px 15px 0px #000000, 25px 36px 11px 21px rgba(0,0,0,0);
    background-color: #626262;
    margin: 10px;
    padding: 20px;
    height: 95%;
    width: 100%;
  }

  .content_box img{
    width: 95%;
    height: auto;
  }

  #node_asset1{
      width: auto;
      height: 60vh;
      margin-right: 8vw;
  }

  #node_asset2{
    width: auto;
    height: 40vh;
    margin-right: 8vw;
}
